torch
langchain
langchain-community
langchain-openai
unstructured
accelerate
transformers
tokenizers
bitsandbytes
einops
sentence_transformers
chromadb
openai
fastapi
uvicorn
-e git+https://github.com/facebookresearch/xformers.git@main#egg=xformers